# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
dist/
build/

# VSCode
.vscode/

# React/Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
frontend/build/

# Misc
*.swp
*.swo
.idea/
*.bak
*.tmp

# Local env files
*.env
.env.* 