langchain
langchain_community
langchain-core
faiss-cpu
ollama
fastapi
uvicorn[standard]
langchain-postgres

# Solves the SQLAlchemy dependency for 'psycopg2'
psycopg2-binary

# Solves the direct dependency for 'psycopg' v3
psycopg[binary]

# Atlassian API
atlassian-python-api==3.41.4 